#pragma once

#define WIFI_SSID      "<your-wifi-ssid>"
#define WIFI_PASS      "<your-wifi-password>"

#define MQTT_HOST      "<your-broker>.hivemq.cloud"
#define MQTT_PORT      8883
#define MQTT_USER      "<mqtt-username>"
#define MQTT_PASS      "<mqtt-password>"
#define MQTT_CLIENT_ID "ESP32_ROOM1"
